<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= link_to 'Show', game %></td>
        <td id="membership-status-for-game-<%= game.id %>">
          <% if membership = Membership.find_by(user: @user, game: game) %>
            <%= render partial: 'memberships/leave_link', locals: {membership: membership} %>
          <% else %>
            <%= render partial: 'memberships/join_link', locals: {game: game} %>
          <% end %>
        </td>
        <% if game.user == @user %>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
